html,
body,
div,
dd,
dt,
p,
span {
    margin: 0;
}

/*response design for img*/
img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px 0;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*clear float*/
.clearfix::before, .clearfix::after {
    content:"";
    display:table;
}
.clearfix::after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


body {
    width: 100%;
    min-width: 600px;
    background: #dedede;
}

.header {
    height: 60px;
    background: #333333;
    padding: 0 20px;
}

.logo {
    height: 60px;
    width: 100px;
}

.logo a {
    display: block;
}

.nav {
    line-height: 60px;
    float: right;
    font-size: 12px;
    margin: 0;
}

.nav li {
    float: left;
    margin-right: 20px;
}

.nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.nav a:hover {
    color: #a5aab0;
}

.container {
    height: 100%;
    padding: 20px;
    margin-right: 380px;

}

.article {
    padding: 20px 20px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 1px 1px 2px #9f9f9f;
    margin-bottom: 20px;
}

.article ul {
    list-style: none;
}
.text p {
    line-height: 1.5em;
    text-indent: 2em;
}

.article h6 {
    color: #a6a6ab;
}

.article h3 {
    color: #797881;
}
/*pics*/
.pics dd {
    float: left;
    width: 100px;
    height: 110px;
    padding: 10px;
    margin: 10px 10px;
    line-height: 25px;
    border: 1px solid #cccccc;
    text-align: center;
}

.pics img {
    width: 100px;
    height: 80px;
}
/*table*/
.table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    font-size: 14px;
}

.table th {
    background: #333;
    color: #ffffff;
    text-align: left;
}

.table tr:hover {
    background: #999;
}

.table td, .table th {
    border: 1px solid #cccccc;
}

.table td, .table th {
    padding: 5px;
}

/*form*/
.form {
    float: right;
    width: 318px;
    margin: 20px;
}
.form form {
    font-size: 14px;
    margin: 0;
}
.wrapper {

    margin:0 auto;
}
.wrapper > div {
    margin: 10px 0;
}
.form h3{
    color: #000;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-left: 3px solid #cccccc;
}

.label {
    display: inline-block;
    text-align: right;
    width: 130px;
}
.collection {
    display: inline-block;
    vertical-align: top;
}
.collection p {
    padding: 10px;
    font-size: 12px;
    color: #999;
}
.form textarea {
    height:100px;
    width: auto;
    vertical-align: top;
    display: inline-block;
}
.btn {
    width:100%;
    height:40px;
    border:0;
    background: #3355d0;
    border-radius: 10px;
    color: #fff;
}


/*footer*/
.footer {
    width: 100%;
    height: 70px;
    background: #000;
    text-align: center;
    line-height: 70px;
    font-size: 12px;
    color: #ffffff;
}